.login-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
  background-color: rgba(255, 250, 250, 0.2);
  /* background-color: rgb(78,78,78); */
  margin-bottom: 4rem;
}
.login-form p {
  font-size: 30px;
  margin-bottom: 0.6rem;
}
.login-form label {
  padding: 0;
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
}
.login-form input {
  margin: 2px 0;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid rgb(154, 154, 154);
  font-size: 18px;
}
.login-form input:focus {
  outline: 2px solid #ed2328;
  border: none;
}
.login-form button {
  background-color: #ed2328;
  margin: 20px 0;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: white;
  color: #ff0004;
  cursor: pointer;
  border: solid 1px #ff0004;
}
.login-span {
  margin-right: 1rem;
}
.success-msg {
  display: flex;
  width: 95%;
  justify-content: center;
  background-color: rgb(229, 255, 228);
  padding: 10px;
  border-radius: 10px;
  color: green;
}

.error-msg {
  display: flex;
  width: 95%;
  justify-content: center;
  background-color: rgb(255, 228, 228);
  color: red;
  padding: 10px;
  border-radius: 10px;
}
