.header-parent-div {
  background-color: #fff;

  height: 15vh;
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0px 5px rgb(0 0 0 / 30%);
}
.brand-logo {
  width: 16rem;
}
.header-search {
  display: flex;
  margin-left: 10rem;
}
.search-input input {
  width: 50rem;
  height: 3.5rem;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 4px 0 0 4px;
  color: rgba(119, 119, 119, 0.01);
}
.search-input input:focus {
  width: 60rem;
}

::placeholder {
  color: rgba(119, 119, 119, 0.5);
}
.search-action {
  background-color: #f1f1f1;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
}
.search-action img,
.cart-logo img {
  height: 2.8rem;
}
.cart-logo {
  padding-top: -10px;
}
.user-icon img {
  height: 2.8rem;
  margin-bottom: 0;
}
.user-icon {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
}
.cart-logo img {
  height: 2.8rem;
}
.cart-login-div {
  /* margin-left: 10rem; */
}

.cart-icon-css {
  background-color: #12a339;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  align-items: center;
  /* top: 10px;
  right: -3px; */
  left: -8px;
  top: 11px;
  text-decoration: none;
}
.login-btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #555;
}
.cart-logout {
  font-weight: 600;
  font-size: 15px;
  color: #555;
  cursor: pointer;
  /* margin-left: 6rem; */
}
