.view-parent-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6rem;
}
.img-div {
}
.img-div img {
  margin-left: 1rem;
  border: 1px solid #ccc !important;
  padding: 0.5rem 2rem;
  /* padding: rem; */
  height: fit-content;
  width: fit-content;
  max-width: 75%;
  max-height: 75%;
}
.product-div h2 {
  font-size: 2.6rem;
}
/* .product-price h3 {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  gap: 0.6rem;
} */

.product-title h2 {
  font-size: 2.6rem;
}
.product-title h2 {
  margin-bottom: 0;
}
.product-price {
  font-size: 2rem;
  font-weight: 500;
  display: block;
  /* flex-direction: column; */
  margin-bottom: 0;
}
.org-price {
  color: #999;
  text-decoration: line-through;

  opacity: 0.6;
  font-size: 2rem !important;
}
.selling-price {
  margin-bottom: 1rem;
  text-decoration: none !important;
  color: #333333 !important;
}
.org-price {
  margin-top: 0rem;
}
.product-weight {
  color: #999;
}
.add-to-cart-btn .btn-1 {
  font-size: 1.4rem;
  color: #fff;
  background-color: #12a339;
  border: none;
  border-radius: 0.4rem;
  border: none;
  padding: 0.8rem 1.5rem;
  width: 20%;
  /* justify-self: flex-end; */
  /* align-self: stretch; */
}
